libs/acm/builder/XMLValidator/xsd/home.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio Developer Edition (Trial) 8.1.4.2482 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blocco">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="link">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="testo" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="script" type="xs:string" use="optional" />
                  <xs:attribute name="param" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="titolo" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="titolo" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>