libs/acm/builder/XMLValidator/xsd/list.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.4.2482 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="list">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="col" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="tipo" type="xs:string" use="optional" />
                                <xs:attribute name="nome" type="xs:string" use="optional" />
                                <xs:attribute name="var" type="xs:string" use="optional" />
                                <xs:attribute name="table" type="xs:string" use="optional" />
                                <xs:attribute name="ord_arrow" type="xs:string" use="optional" />
                                <xs:attribute name="script" type="xs:string" use="optional" />
                                <xs:attribute name="param" type="xs:string" use="optional" />
                                <xs:attribute name="where" type="xs:string" use="optional" />
                                <xs:attribute name="EXAMS" type="xs:string" use="optional" />
                                <xs:attribute name="order_by" type="xs:string" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="titolo" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
</xs:schema>
