libs/acm/builder/XMLValidator/xsd/visite_exams.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.4.2482 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="visit_exam">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="group" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="visit" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="exam" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                                <xs:attribute name="number" type="xs:unsignedInt" use="optional" />
                                                <xs:attribute name="xml" type="xs:string" use="optional" />
                                                <xs:attribute name="mandatory" type="xs:string" use="optional" />
                                                <xs:attribute name="sub" type="xs:string" />
                                                <xs:attribute name="default" type="xs:string" use="optional" />
                                                <xs:attribute name="mainsub" type="xs:string" use="optional" />
                                                <xs:attribute name="main" type="xs:string" use="optional" />
                                                <xs:attribute name="trash" type="xs:string" use="optional" />
                                                <xs:attribute name="all_in" type="xs:string" use="optional" />
                                                <xs:attribute name="progr" type="xs:string" use="optional" />
                                                <xs:attribute name="max_all_in" type="xs:string" use="optional" />
                                                <xs:attribute name="sub_form_file_name" type="xs:string" use="optional" />
                                                <xs:attribute name="main_form_file_name" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="enable_visit"  minOccurs="0" maxOccurs="unbounded">
                                       		 <xs:complexType>
                                                <xs:attribute name="progr" type="xs:string" use="optional" />
                                                <xs:attribute name="number" type="xs:unsignedInt" use="optional" />
                                                <xs:attribute name="auto" type="xs:string" use="optional" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="number" type="xs:unsignedInt" use="optional" />
                                    <xs:attribute name="short_txt" type="xs:string" use="optional" />
                                    <xs:attribute name="text" type="xs:string" use="optional" />
                                    
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="text" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
